<h1>New listing</h1>

<h3>Step One:</h3>

<%= render 'form' %>

<a id="new_floorplan_button" href="#">Next</a>

<h3>Step Two:</h3>



<%= render 'floorplans/form', listing: @listing %>

<%= link_to 'Back', listings_path %>
