// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body .navbar {
  z-index: 1;
    border-bottom: 1px #d4d4d4 solid;
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.5);
  box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}

/* LISTING */
.listing {
  margin-top: 1px;
}
.page-header {
  margin-top: 20px;
  margin-bottom: 15px;
}
.page-header h3 {
  margin: 0;
  padding: 0;
}
.overview-sidebar h1 {
  margin: 0;
}

.overview-sidebar h3 {
  margin-top: 10px;
  margin-bottom: 25px;
}
.listing h1 {
  margin: 0;
  padding: 0;
}
.searchbar-container.listing-container {
  margin-top: 10px;
  padding: 0;
}
.searchbar-container.listing-container h1 {
  margin-top: 0;
  color: #fff;
  font-weight: 400;
  font-size: 40px;
}
.searchbar-container.listing-container h2 {
  color: #fff;
  font-weight: 200;
}
.searchbar-container.listing-container small {
  color: rgba(255, 255, 255, 0.65);
}
.searchbar-container.listing-container address {
  color: rgba(255, 255, 255, 0.65);
}
ul.nav-tabs li a {
  color: #AB262A;
  font-size: 1.15em;
}

h3.panel-title {
  font-size: 1.5em;
}
#my-tab-content {
  margin-bottom: 20px;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  /*
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  */
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

#my-tab-content .panel-body {
  padding: 0 30px 20px 30px;
}

.tab-pane {
  padding: 30px 30px 0 30px;
}

.not-available {
  color: #ccc;
}

li.not-available span.glyphicon {
  display: none;
}

#disqus_thread {

}

.strong {
  font-weight: 600;
}

.green {
  color: green;
}

h4.modal-title .green {
  margin-right: 25px;
}

.modal-dialog {
  right: auto;
  left: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 760px;
}

.item.item-carousel {
  padding: 0 0;
}
.thumbnail-row {
  padding-top: 4px;
  padding-right: 0;
  padding-left: 0;
}
.thumbnail-row a.thumbnail#carousel-selector-0 {
  padding-left: 0;
}

.thumbnail-row a.thumbnail#carousel-selector-5 {
  padding-right: 0;
}

.thumbnail {
  display: block;
  float: left;
  border: none;
}

.thumbnail-box {
  display: block;
  padding: 0;
  width: 80px;
  height: 80px;
}

.thumbnail-box p {
  padding-top: 40%;
}

.related-listings {
  padding: 10px;
}

.related-listings p {
  font-size: 90%;
}

.related-listings-description {
    width: 60%;
}

.list-group-item {
  float: left;
}

.list-group-item:first-child {
  border-right: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-right: 1px solid #dddddd;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
}

.list-group-item {
  position: relative;
  display: block;
  margin-bottom: -1px;
  padding: 2px 5px;
  border: 1px solid #dddddd;
  border-right:none;
  background-color: #ffffff;
  font-size: 13px;
  opacity: 0.8;
}

.listing-reviews h4 {
  color: #821C1F;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
display: block;
margin: 0;
padding: 0;
max-width: 100%;
height: 100%;

line-height: 1;
}
.carousel-inner.floorplan-carousel {
  position: relative;
  overflow: hidden;
  max-width: 300px;
  max-height: 240px; 
  width: 100%;
  height: 100%;
}
.carousel-inner.floorplan-carousel .item img {
  position: relative;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  padding: auto;
  max-width: 300px;
  max-height: 240px;
  width: 100%;
  height: 100%;
}
.contact h1 {
  padding: 0 0 25px 0;
  color: #4C3200;
  font-size: 2.25em;
}
.well.contact {
  padding-right: 35px;
  padding-left: 35px;
  border-color: #ffe9be;
  background-color: #fcf8e3;
}
.well.contact input, .well.contact textarea {
  border-color: #FFDC99;
}
.well.contact button span.glyphicon-envelope {
  color: rgba(255, 255, 255, 0.75);
}
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
  padding: 15px 8px 0 8px;
}
td button {
  margin-top: -5px;
}
.floorplan-panel {
  margin: 0;
  padding: 0;
}

.modal-header {
  background-image: linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
  background-image: -o-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
  background-image: -moz-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
  background-image: -webkit-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
  background-image: -ms-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.34, #821C1F), color-stop(0.67, #991B1F) );
  color: #fff;
}

.modal-header h3 {
  color: #fff;
}

.modal-header button {
  font-size: 38px;
}

.modal-body {
  padding-bottom: 0;
}

.searchbar {
  width: 100%;
  border-bottom: 1px #d4d4d4 solid;
background-image: linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
background-image: -o-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
background-image: -moz-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
background-image: -webkit-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
background-image: -ms-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.34, #821C1F), color-stop(0.67, #991B1F) );
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.15);
  box-shadow: 0 1px 10px rgba(0,0,0,0.15);

}

.searchbar-container {
  width: 100%;
  height: 100%;
}
.searchbar-container p {
  margin-right: 12px;
  margin-bottom: 5px;
  padding-top: 0;
  color: #fff;
  font-weight: 600;
}

.searchbar-container .input-group {
  float: left;
  padding: 12px 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
}

.searchbar-container .input-group-start {
  border-left: none;
  vertical-align: middle;
}

.searchbar-container .input-group-start p {
  margin: 0;
  padding: 0;
  color: #fff;
}

.searchbar-container .input-group-end {
  margin-right: 0;
  padding-right: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.input-group.search-button {
  border: none;
  background: none;
}

a.search-button {
  margin-top: 14px;
}
  #example p.rent {
  float: left;
  text-align: left;
}

#example p {
  font-weight: normal;
}
input.amount { 
  width: 125px;
  border: 0; 
  background-color: transparent; 
  color: #eee;
}
input.amount {
  float: right;
  text-align: right;
}
#advanced button {
  width: 34px;
}
#container {
  margin: 10px 0;
}
.item {
  margin: 0;
  padding: 0 10px;
  text-align: left;
}
.item img {
  /* border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 5px; */
}
.panel {
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
}
p.post-title {
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
}
.item p {
  margin: 0;
  color: #333;
  text-decoration: none;
  font-size : 14px;
}
.item a:hover {
  text-decoration: none;
}
.item:hover {
  text-decoration: none;
  opacity: 0.8;
}
.footer-top h3.panel-title {
 margin: 5px 0 10px;
 font-weight: 400;
 font-size: 21px;
 line-height: 24px;
}
.col-lg-2 .footer-top h3.panel-title {
 margin: 5px 0 10px;
 font-weight: 300;
 font-size: 14px;
 line-height: 16px;
}
.col-lg-2 .col-sm-10 .item p {
  margin: 0;
  color: #333;
  text-decoration: none;
  font-weight: 100;
  font-size : 12px;
}
.col-lg-2 h3.price {
color: #AB262A;
font-weight: 500;
font-size: 14px;
}
.col-lg-2 .panel-footer {
padding: 5px 7px;
}
h3.price {
color: #AB262A;
font-weight: 500;
font-size: 16px;
}
.listing-panel-body {
  padding: 0;
}
.panel-footer {
  background-color: #fff;
}
.item img.img-responsive {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
button.close {
padding: 0;
padding-left: 6px;
border: 0;
background: transparent;
cursor: pointer;
-webkit-appearance: none;
}
.close {
float: none;
color: #000; /* #428bca; */
text-shadow: 0 1px 0 #fff;
font-size: 10px;
line-height: 1;
opacity: 0.2;
filter: alpha(opacity=20);
}
span.footer-divider {
  padding: 0 10px;
}
/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  z-index: 1;
  pointer-events: none;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* jquery UI */
.ui-slider {
margin: 4px 0 2px 0;
width: 170px;
}

.ui-slider .ui-slider-handle {
position: absolute;
z-index: 2;
width: 0.7em;
height: 1.1em;
cursor: default;
}
.ui-widget-content {

}
.ui-widget-header {
  background: #d2322d url(images/ui-bg_highlight-soft_15_cc0000_1x100.png) 50% 50% repeat-x;
}

.ui-slider-horizontal {
height: 8px;
}

@media (max-width: 585px) {
  #example p.rent {
    display: none;
  }
input.amount {
  float: left;
  text-align: left;
}
  .ui-slider {
    width: 100px;
  }

  .input-group #bedrooms {
    margin-right: 0;
    padding-right: 0;
  }
  div#bathrooms.input-group {
    display: none;
  }
  #bathrooms {
    border: none;
  }

  #bathrooms p, #bathrooms div.btn-group {
    display: none;
  }
}

@media (max-width: 750px) {
  .searchbar {
    min-height: 70px;
  }

  form div.input-group {
    height: 100%;
  }
  #example2 {
      display: none;
    border: none;
  }
  #example2 p, #example2 button {
    display: none;
  }

  .searchbar-container .input-group {
    padding: 16px 10px;
  }
      #advanced {
    display:none;
  }

}

@media (min-width: 751px) {
  .searchbar {
    min-height: 93px;
    max-height: 94px;
    height: 100%;
  }
  form div.input-group {
    height: 93px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background-image: linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
    background-image: -o-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
    background-image: -moz-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
    background-image: -webkit-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
    background-image: -ms-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.34, #821C1F), color-stop(0.67, #991B1F) );
  }
  form div.input-group {
    min-height: 93px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background-image: linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
    background-image: -o-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
    background-image: -moz-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
    background-image: -webkit-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
    background-image: -ms-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.34, #821C1F), color-stop(0.67, #991B1F) );
  }

}
@media (max-width: 990px) {
    #advanced {
    display:none;
  }
}

@media (min-width: 991px) {
.toggle {
position: relative;
float: right;
margin-top: 8px;
margin-right: 15px;
margin-bottom: 8px;
padding: 9px 10px;
}
  .small-search {
    display: none;
  }
}

@media (min-width: 991px) {
.search-toggle {
display: none;
}
}

@media (min-width: 991px) {
  .search-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .search-collapse.collapse {
    display: block !important;
    overflow: visible !important;
    height: auto !important;
  }
}