// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



section.dropdown-menu:hover {
  -webkit-appearance: none;
}

p.alert {
margin-bottom: 0;
}

p#notice {
  display: none;
}

.table {
  margin-bottom: 0;
}








body .navbar {
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.15);
  box-shadow: 0 1px 10px rgba(0,0,0,0.15);
} 

.search-headline h1 {
  margin-bottom: 25px;
  padding-top: 10%;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 52px;
  font-family: 'Roboto', Helvetica, sans-serif;
  line-height: 1.2em;
  text-rendering: optimizelegibility;
}
.search p {
  color: #fff;
  font-weight: 100;
  font-size: 26px;
  /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); */
  font-family: 'Roboto', Helvetica, sans-serif;
  line-height: 1.5em;
  opacity: 1.0;
}
.jumbotron {
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 100%;
  height: 100%;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/* background: url(http://225apartments.com/sandbox3/img/apt.jpg) 0 -150px no-repeat fixed; */
/* http://reganlaw.net/wp-content/uploads/superdome-and-city-at-night.jpg */
/* http://225apartments.com/sandbox/assets/images/miss-river-bridge.jpg */
background: url(/assets/home/background.jpg) 0 0 no-repeat fixed;
}
.jumbotron-overlay {
  position: relative;
  overflow: hidden;
  height: 100%;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: inset 0 -4px 0 0 rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 -4px 0 0 rgba(0,0,0,0.5);
  box-shadow: inset 0 -4px 0 0 rgba(0,0,0,0.5);
}
/*
.jumbotron-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(86, 30, 30, 0.85);
}
*/
.jumbotron-inner {
  width: 100%;
}

.search {
  position: absolute;
  z-index: 20;
  display: block;
  color: #fff;
  opacity: 1.0;
  -webkit-transform: translate3d(0, 0, 1em);
  -moz-transform: translate3d(0, 0, 1em);
  -ms-transform: translate3d(0, 0, 1em);
  -o-transform: translate3d(0, 0, 1em);
  transform: translate3d(0, 0, 1em);

}
form.home-search-bar {
  margin: 0;
}
.search-label  {
  margin-right: 15px;
  font-weight: 300;
  font-size: 22px;
}
.input-group-search {
  display: block;
  padding: 10px;
  padding-left: 20px;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}
.btn-lg {

}
.input-lg {

}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel .container {
  position: relative;
  z-index: 9;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
.carousel-caption {
  position: fixed;
  bottom: -20px;
  left: 20px;
  max-width: 600px;
  background-color: transparent;
  text-align: left;
}
.carousel-caption h3,
.carousel-caption .lead {
  margin: 0;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  font-weight: 400;
  line-height: 1.25;
}
.carousel-caption .btn {
  margin-right: 15px;
}

  /* RESPONSIVE CSS
  -------------------------------------------------- */
  @media (max-width: 979px) {
    .carousel .item {
      height: 500px;
    }
    .carousel img {
      width: auto;
      height: 500px;
    }
  }
  @media (max-width: 767px) {
    .carousel {
      margin-right: -20px;
      margin-left: -20px;
    }
    .carousel .container {
      position: relative;
      z-index: 9;
    }
    .carousel .item {
      height: 300px;
    }
    .carousel img {
      height: 300px;
    }
    .carousel-caption {
      margin-top: 100px;
      padding: 0 70px;
      width: 65%;
    }
    .carousel-caption h1 {
      font-size: 30px;
    }
    .carousel-caption .lead,
    .carousel-caption .btn {
      font-size: 18px;
    }

    .marketing .span4 + .span4 {
      margin-top: 40px;
    }

  }

    /* CAROUSEL FADE
    -------------------------------------------------- */
    .carousel-fade .carousel-inner .item {
      opacity: 0;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
    }
    .carousel-fade .carousel-inner .active {
      opacity: 1;
    }
    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
      left: 0;
      z-index: 1;
      opacity: 0;
    }
    .carousel-fade .carousel-inner .next.left,
    .carousel-fade .carousel-inner .prev.right {
      opacity: 1;
    }
    .carousel-fade .carousel-control {
      z-index: 2;
    }
    .carousel-control .icon-prev, .carousel-control .icon-next {
    margin-top: -15px;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    font-size: 100px;
    }
    html,
    body,
    .carousel,
    .carousel-inner,
    .carousel-inner .item {
      height: 100%;
    }
    .item:nth-child(1) {
      background: silver;
    }
    .item:nth-child(2) {
      background: red;
    }
    .item:nth-child(3) {
      background: orange;
    }




/* NEW INDEX */
section.section {
padding: 60px;
background-color: #fff;
}
body > section {
padding: 50px 0;
border-radius: 0 !important;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
display: block;
}
.row-fluid {
width: 100%;
}

@media (min-width: 1200px) {
.row-fluid:before, .row-fluid:after {
display: table;
content: "";
line-height: 0;
}
.row-fluid:after {
clear: both;
}
.row-fluid:before, .row-fluid:after {
display: table;
content: "";
line-height: 0;
}
.row-fluid [class*="span"] {
display: block;
float: left;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin-left: 2.564102564102564%;
min-height: 30px;
width: 100%;
}
img {
max-width: 100%;
width: auto\9;
height: auto;
border: 0;
vertical-align: middle;
-ms-interpolation-mode: bicubic;
}
}
.section + .section {
border-top: 1px solid #eee;
}
.testimonial .media .reference, .testimonial .media .quote {
margin: 5px 0 0;
}
.testimonial.quote-top .quote {
position: relative;
margin: 0 10px 20px;
padding: 20px;
border: 1px solid #ddd;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background: #fff;
}
.testimonial.quote-top .quote i {
position: absolute;
bottom: -10px;
left: 50%;
z-index: 1;
display: inline-block;
margin-left: -10px;
width: 0px;
height: 0px;
border-top: 10px solid #cccccc;
border-right: 10px solid transparent;
border-left: 10px solid transparent;
font-size: 0px;
line-height: 0px;
}
.testimonial.quote-top .quote b {
position: absolute;
bottom: -9px;
left: 50%;
z-index: 10;
display: inline-block;
margin-left: -9px;
width: 0px;
height: 0px;
border-top: 9px solid #ffffff;
border-right: 9px solid transparent;
border-left: 9px solid transparent;
font-size: 0px;
line-height: 0px;
}
.testimonial.text-center .avatar {
display: inline-block;
margin-bottom: 15px;
}
.img-circle {
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}
.avatar {
width: 80px;
height: auto;
}
.img-circle {
-webkit-border-radius: 500px;
-moz-border-radius: 500px;
border-radius: 500px;
}
.section-highlight {
background-image: linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
background-image: -o-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
background-image: -moz-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
background-image: -webkit-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
background-image: -ms-linear-gradient(bottom, #821C1F 34%, #991B1F 67%);
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.34, #821C1F), color-stop(0.67, #991B1F) );
color: #fff;
opacity: 0.95;
}
body > section {
padding: 50px 0;
border-radius: 0 !important;
}
.row-fluid {
width: 100%;
}
.section-highlight h3 {
color: #fff;
font-weight: 300;
}
